html { overflow: hidden; }
body { font-family: 'Open Sans', sans-serif; line-height: .8; font-size: 45px; color: #3e3e3e}

p {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.background {
	position: fixed;
	height: 100%;
	width: 100%;
	background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #efefef);
	background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#efefef));
	z-index: 0;
    opacity: 1;
}

#hint {
    z-index: 9999;
    position: fixed; top: 0; left: 20px;
    font-size: 16px;
    background: #ddd;
    color: #666;
    padding: 6px 12px 12px;
    font-style: italic;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    
    -webkit-transition: opacity 2s;
    -moz-transition:    opacity 2s;
    -ms-transition:     opacity 2s;
    -o-transition:      opacity 2s;
    transition:         opacity 2s;
    
    -webkit-transition-delay: 6s;
    -moz-transition-delay: 6s;
    -ms-transition-delay: 6s;
    -o-transition-delay: 6s;
    transition-delay: 6s;
}

#hint a { text-decoration: underline; font-style: italic; }

#hint:hover {
    opacity: 1;
    -webkit-transition: opacity .25s;
    -moz-transition:    opacity .25s;
    -ms-transition:     opacity .25s;
    -o-transition:      opacity .25s;
    transition:         opacity .25s;
}

a, a:hover, a:visited {
    text-decoration: none;
    font-style: normal;
    color: #666;
    cursor: pointer;
}
a:hover { color: #333;}

.title { font-size: 275px; }
.big { text-transform: uppercase; margin: 0; padding: 0; }
.bold { font-weight: 800; }
.light { font-weight: 400; }
.extralight { font-weight: 300; letter-spacing: .1em; }
.small { display: block; padding: 20px; font-size: 20px; font-weight: 600; }
.footnote { display: block; padding: 20px; font-size: 20px; font-weight: 100; }
.s-green { color: #8eb92e; }
.s-gray { color: #3e3e3e; }

blockquote {
    text-align: justify;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
}

blockquote .author {
    display: block;
    text-align: right;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 36px;
}

.img-wrap {	margin: 0 auto; }
.img-inline { display: inline-block; padding: 12px 3px; }
.img-link {	text-decoration: none; }
.img-border { border: solid 1px #aaa; }


/* COMMON STEP STYLES */

.step {
    text-align: center;
    width: 1000px;
    /*padding: 20px;*/

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    
    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */
}

.step:not(.active) { opacity: 0.1; }


/* STEP SPECIFIC STYLES */
#title {text-align: center; }
#title-text1 { font-size: 200px; }
#title-text2 { font-size: 120px; }
#title-text3 { font-size: 58px; margin-left: -290px; margin-top: 10px;}
#title-img { position: absolute; margin-left: 620px; margin-top: -52px;}

#def-text1 { font-size: 140px; }
#def-text2 { font-size: 100px; }

#cloud1-text1 { font-size: 120px; }
#cloud1-text2 { font-size: 93px; padding-bottom: 40px; position: relative; }

#speicher-text1 { font-size: 93px; padding-bottom: 0px; position: relative; }
#speicher-text2 { font-size: 75px; padding: 10px 0px 10px 0px; position: relative; }

#facebook1-text1 { font-size: 120px; }

#typ-text1 { font-size: 50px; position: absolute; padding: 120px 0px 0px 500px;}
#typ-text2 { font-size: 30px; position: absolute; padding: 170px 0px 0px 500px;}
#typ-text3 { font-size: 30px; position: absolute; padding: 170px 0px 0px 500px;}
#typ-text4 { font-size: 30px; position: absolute; padding: 170px 0px 0px 500px;}

#service-text1 { font-size: 120px; padding-bottom: 30px;}

#iaas-text1 { font-size: 55px; padding-bottom: 30px;}
#iaas-text2 { font-size: 350px; }
#iaas-text3 { font-size: 54px; padding: 30px 0px 30px;}
#iaas-text4 { font-size: 41px;}

#iaas2-text1 { font-size: 250px;}
#iaas3-text1 { font-size: 100px;}
#iaas4-text1 { font-size: 62px;}
#iaas5-text1 { font-size: 153px;}
#iaas6-text1 { font-size: 80px;}


#paas-text1 { font-size: 67px; padding-bottom: 30px;}
#paas-text2 { font-size: 350px; }
#paas-text3 { font-size: 57px; padding: 30px 0px 30px 0px;}
#paas-text4 { font-size: 36px; }

#paas2-text1 { font-size: 70px;}
#paas3-text1 { font-size: 70px;}
#paas4-text1 { font-size: 108px;}
#paas5-text1 { font-size: 90px;}
#paas6-text1 { font-size: 120px;}

#saas-text1 { font-size: 67px; padding-bottom: 30px;}
#saas-text2 { font-size: 350px; }
#saas-text3 { font-size: 57px; padding: 30px 0px 30px 0px;}
#saas-text4 { font-size: 45px; }

#saas2-text1 { font-size: 172px;}
#saas2-text2 { font-size: 62px; padding: 30px 0px 20px 0px;}
#saas2-text3 { font-size: 50px;}
#saas2-text4 { font-size: 80px; padding: 20px 0px 20px 0px;}
#saas2-text5 { font-size: 50px;}
#saas2-text6 { font-size: 164px; padding: 20px 0px 20px 0px;}

#service2-img1 {
    position: absolute;
    margin-left: -800px;
    margin-top: 400px;
}

#pc-text1 { font-size: 100px; }

#pro-text1 { font-size: 100px; }
#pro-text2 { font-size: 140px; padding-top: 60px;}

#pro1-text1 { font-size: 80px; }
#pro1-text2 { font-size: 150px; padding: 20px 0px 20px 0px; }
#pro1-text3 { font-size: 80px; }
#pro1-text4 { font-size: 150px; padding-top: 20px;}

#credits { width: 1200px; padding: 0; }
#credits .big { font-size: 150px; }
#credits p { font-style: italic; font-size: 30px; margin: 24px; padding: 0; color: #666; }
#credits p.first { margin-bottom: 45px; font-size: 40px; }
#credits a { font-style: italic; font-weight: bold; text-decoration: underline; }

